/* -------------------- universal start -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ecf0f3;
}
/* -------------------- universal end -------------------- */

/* -------------------- bye bye start -------------------- */
.bye-bye-container {
  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #31343a;
  z-index: 20;
}

.bye-bye-container h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #cccccc;
  z-index: 20;
}
/* -------------------- bye bye end -------------------- */

/* -------------------- popup start -------------------- */
.name-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  width: 600px;
  height: 420px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 10;
}

.name-container h2 {
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.name-container img {
  margin: 20px 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 125px;
  height: 125px;
  border-radius: 5px;
}

.name-container .name-headline {
  width: 100%;
  text-align: center;
}

.name-container .player-name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-top: 20px;
}

.name-container .name input[type="text"] {
  width: 60%;
  margin: 0 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  padding: 4px;
  font-size: 18px;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.5);
  outline: none;
}

.name-container .start {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.name-container .start:hover {
  color: #31343a;
}

.name-container .skip {
  margin: 10px auto 0;
  width: 30px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.name-container .skip:hover {
  color: #31343a;
  border-bottom: 1px solid #31343a;
}

.name-container .skip:hover ~ #error-message {
  margin-top: 19px;
}

.name-container .error-message {
  display: none;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #ff0000;
}

/* media for 600 width */
@media only screen and (max-width: 600px) {
  .name-container {
    width: 100%;
    border-radius: 0;
  }
}

/* media for 450 width */
@media only screen and (max-width: 450px) {
  .name-container .player-name {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 40px);
  }

  .name-container .start {
    margin-top: 0;
  }

  .name-container .skip {
    margin-top: 5px;
  }
}
/* -------------------- popup end -------------------- */

/* -------------------- main grid star -------------------- */
.main-grid {
  display: grid;
  grid-template-columns: 175px 200px 175px;
  column-gap: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}
/* -------------------- main grid end -------------------- */

/* -------------------- round & draw start -------------------- */
.round-draw-container {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  padding: 5px 0;
  row-gap: 20px;
}

.round-draw-container .round-draw-top,
.round-draw-container .round-draw-bottom {
  display: grid;
  grid-template-columns: 100px 50px;
  column-gap: 10px;
}

.round-draw-container .round-draw-center {
  display: grid;
  grid-template-columns: 50px 100px;
  column-gap: 10px;
}

.round-draw-container .round-name,
.round-draw-container .round-number,
.round-draw-container .time,
.round-draw-container .time-name,
.round-draw-container .draw-name,
.round-draw-container .draw-number {
  border-radius: 5px;
  box-shadow: 3px 3px 5px #cbced1, -3px -3px 5px #ffffff;
}
/* -------------------- round & draw end -------------------- */

/* -------------------- game-grid-container start -------------------- */
.game-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  width: 200px;
  height: 200px;
}

.game-grid-container .game-grid-box {
  position: relative;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #cbced1, -3px -3px 5px #ffffff;
}

.game-grid-container .game-grid-box:hover {
  box-shadow: 3px 3px 5px #cbced1, -3px -3px 5px #ffffff, inset 3px 3px 3px #cbced1, inset -3px -3px 3px #ffffff;
}

.game-grid-container .cross,
.game-grid-container .cross-hover,
.game-grid-container .circle,
.game-grid-container .circle-hover {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
}

.svg-icon {
  width: 30px;
  height: 30px;
}
/* -------------------- game-grid-container start -------------------- */

/* -------------------- player container start -------------------- */
.player-container {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  row-gap: 20px;
  padding: 5px;
}

.player-container .player-first {
  display: grid;
  grid-template-columns: 50px 100px;
  column-gap: 10px;
}

.player-container .symbol-x,
.player-container .player-first-name,
.player-container .point-x,
.player-container .point-o,
.player-container .player-second-name,
.player-container .symbol-o {
  border-radius: 5px;
  box-shadow: 3px 3px 5px #cbced1, -3px -3px 5px #ffffff;
}

.player-container .player-point {
  display: grid;
  grid-template-columns: repeat(2, 75px);
  column-gap: 10px;
}

.player-container .player-second {
  display: grid;
  grid-template-columns: 100px 50px;
  column-gap: 10px;
}
/* -------------------- player container end -------------------- */
