/* -------------------- universal start -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ecf0f3;
}
/* -------------------- universal end -------------------- */

/* -------------------- bye bye start -------------------- */
.bye-bye-container {
  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #31343a;
  z-index: 20;
}

.bye-bye-container h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #cccccc;
  z-index: 20;
}
/* -------------------- bye bye end -------------------- */

/* -------------------- screen not compatible start -------------------- */
.screen-compatible-container {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #31343a;
  z-index: 25;
}

.screen-compatible-container p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #cccccc;
}

@media only screen and (max-height: 480px) {
  .screen-compatible-container {
    display: block;
  }
}
/* -------------------- screen not compatible end -------------------- */

/* -------------------- name container start -------------------- */
.name-container {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background-color: #ecf0f3;
  z-index: 10;
}

.name-container .inner-container {
  width: 320px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  background: #ecf0f3;
  border-radius: 20px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.name-container .image-container {
  margin: 30px 50% 15px;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-image: url("../image/tic-tac-toe.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 
  /* logo shadow */
  0px 0px 2px #5f5f5f,
  /* offset */
  0px 0px 0px 5px #ecf0f3,
  /*bottom right */
  8px 8px 15px #a7aaaf,
  /* top left */
  -8px -8px 15px #ffffff
  ;
}

.name-container h2 {
  width: 100%;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  color: #4c4c4c;
  letter-spacing: .5px;
}

.name-container p {
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #595959;
  letter-spacing: 2px;
}

.name-container .name-fields {
  width: 260px;
  margin: 40px 50% 35px;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.name-container .player-second-input {
  margin-top: 20px;
}

.name-container .player-name {
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.name-container input[type="text"] {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: #555;
  border: none;
  background: none;
  outline: none;
}

.name-container input[type="text"]::placeholder {
  font-size: 14px;
  color: #808080;
}

.name-container .start {
  margin: 0 50%;
  padding: 10px;
  width: 260px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  cursor: pointer;
  background-image: linear-gradient(45deg, #cb2d3e, #ef473a);
  border-radius: 20px;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}

.name-container .start:hover {
  background-image: linear-gradient(45deg, #ef473a, #cb2d3e);
}

.name-container .skip {
  margin: 10px auto 0;
  width: 30px;
  text-align: center;
  font-size: 12px;
  color: #555;
  cursor: pointer;
}

.name-container .skip:hover {
  color: #31343a;
  border-bottom: 1px solid #31343a;
}

.name-container .error-message {
  display: none;
  width: 280px;
  margin: 10px 0 0 50%;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #ff0000;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-radius: 4px;
  box-shadow: 3px 3px 5px #cbced1, -3px -3px 5px #ffffff, inset 3px 3px 3px #cbced1, inset -3px -3px 3px #ffffff;
}

@media only screen and (max-width: 430px) {
  .name-container .inner-container {
    padding: 0 40px;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .name-container .name-fields,
  .name-container .start,
  .name-container .error-message {
    width: 100%;
  }
}

@media only screen and (max-width: 430px) {
  .name-container .inner-container {
    padding: 0 20px;
  }
}
/* -------------------- name container end -------------------- */

/* -------------------- main grid star -------------------- */
.main-grid {
  display: grid;
  grid-template-columns: 165px 200px 165px;
  column-gap: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

@media only screen and (max-width: 600px) {
  .main-grid {
    grid-template-columns: 330px;
    row-gap: 15px;
  }
}

@media only screen and (max-width: 330px) {
  .main-grid {
    grid-template-columns: 300px;
  }
}
/* -------------------- main grid end -------------------- */

/* -------------------- round & draw start -------------------- */
.round-draw-container {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  padding: 5px 0;
  row-gap: 20px;
}

.round-draw-container .round-draw-top,
.round-draw-container .round-draw-bottom {
  display: grid;
  grid-template-columns: 100px 50px;
  column-gap: 10px;
}

.round-draw-container .round-draw-center {
  display: grid;
  grid-template-columns: 50px 100px;
  column-gap: 10px;
}

.round-draw-container .round-name,
.round-draw-container .round-number,
.round-draw-container .time,
.round-draw-container .time-name,
.round-draw-container .draw-name,
.round-draw-container .draw-number,
/* mobile view */
.round-draw-container .mobile-draw-number,
.round-draw-container .mobile-draw-name {
  position: relative;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #cbced1, -3px -3px 5px #ffffff;
}

.round-draw-container .svg-icon-sym {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
}

.round-draw-container .sym-o {
  display: none;
}

.round-draw-container p {
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  background-color: red;
  background-image: linear-gradient(45deg, #cb2d3e, #ef473a);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.desktop-hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  .round-draw-container {
    grid-template-rows: repeat(2, 50px);
    padding: 0;
    row-gap: 10px;
    
  }

  .round-draw-container .mobile-hide {
    display: none;
  }

  .round-draw-container .round-draw-top {
    grid-template-columns: 100px 50px 50px 100px;
  }

  .round-draw-container .round-draw-center {
    width: 160px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%); 
  }

  .desktop-hide {
    display: block;
  }
}

@media only screen and (max-width: 330px) {
  .round-draw-container .round-draw-top {
    grid-template-columns: 85px 50px 50px 85px;
  }
}
/* -------------------- round & draw end -------------------- */

/* -------------------- game-grid-container start -------------------- */
.game-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  width: 200px;
  height: 200px;
}

.game-grid-container .game-grid-box {
  position: relative;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #cbced1, -3px -3px 5px #ffffff;
}

.game-grid-container .game-grid-box:hover {
  box-shadow: 3px 3px 5px #cbced1, -3px -3px 5px #ffffff, inset 3px 3px 3px #cbced1, inset -3px -3px 3px #ffffff;
}

.game-grid-container .cross,
.game-grid-container .cross-hover,
.game-grid-container .circle,
.game-grid-container .circle-hover,
.svg-box {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
}

.svg-box-hover {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
}

.svg-icon {
  width: 30px;
  height: 30px;
}

.svg-icon-hover {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 600px) {
  .game-grid-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}
/* -------------------- game-grid-container start -------------------- */

/* -------------------- player container start -------------------- */
.player-container {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  row-gap: 20px;
  padding: 5px;
}

.player-container .player-first {
  display: grid;
  grid-template-columns: 50px 100px;
  column-gap: 10px;
}

.player-container .symbol-x,
.player-container .player-first-name,
.player-container .point-x,
.player-container .point-o,
.player-container .player-second-name,
.player-container .symbol-o,
/* mobile view */
.player-container .mobile-second-title-name,
.player-container .mobile-symbol-o {
  border-radius: 5px;
  box-shadow: 3px 3px 5px #cbced1, -3px -3px 5px #ffffff;
}

.player-container .player-point {
  display: grid;
  grid-template-columns: repeat(2, 75px);
  column-gap: 10px;
}

.player-container .player-second {
  display: grid;
  grid-template-columns: 100px 50px;
  column-gap: 10px;
}

.player-container .svg-icon-sym {
  width: 20px;
  height: 20px;
  margin: 15px;
}

.player-container p {
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  background-color: red;
  background-image: linear-gradient(45deg, #cb2d3e, #ef473a);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.player-container .desktop-hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  .player-container {
    grid-template-rows: repeat(2, 50px);
    row-gap: 10px;
    padding: 0;
  }

  .player-container .player-first {
    grid-template-rows: 50px;
    grid-template-columns: 50px 100px 100px 50px;
    column-gap: 10px;
  }

  .player-container .player-point {
    width: 160px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .player-container .desktop-hide {
    display: block;
  }

  .player-container .mobile-view {
    display: none;
  }
}

@media only screen and (max-width: 330px) {
  .player-container .player-first {
    grid-template-columns: 50px 85px 85px 50px;
  }
}
/* -------------------- player container end -------------------- */
